*{
	box-sizing: border-box;
}
.container{
	width: 1200px;
	margin:0 auto;
}

@media (min-width: 320px){
	.container{
		width: 320px;
		margin:0 auto;
	}
}

@media (min-width: 768px){
	.container{
		width: 768px;
		margin:0 auto;
	}
}

@media (min-width: 1200px){
	.container{
		width: 1200px;
		margin:0 auto;
	}
}

.item{
	background-color: red;
}

/*
Calculo do grid: unidade/total*100;
*/

.row:after{
	content: '';
	display: table;
	clear: both;
}
.col{
	position: relative;
	min-height: 1px;
	float: left;
	padding: 0 20px;
}

.col-1{
	width: 8.33%;
}

.col-2{
	width: 16.66%;
}

.col-3{
	width: 25%;
}

.col-4{
	width: 33.33%;
}

.col-5{
	width: 41.66%;
}

.col-6{
	width: 50%;
}

.col-7{
	width: 58.33%;
}

.col-8{
	width: 66.66%;
}

.com-9{
	width: 75%;
}

.col-10{
	width: 83.33%;
}

.col-11{
	width: 91.66%;
}

.col-12{
	width: 100%;
}